PUBLIC_TYPESENSE_URLS=https://node-1.typesense.net:443,https://node-2.typesense.net:443,https://node-3.typesense.net:443
PUBLIC_TYPESENSE_NEAREST_NODE_URL=https://xxx.typesense.net:443
PUBLIC_TYPESENSE_SEARCH_ONLY_API_KEY=xxx
TYPESENSE_ADMIN_API_KEY=xxx